body {
  flex-direction: column;
  font-family: sans-serif;
  margin: 0;
  background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
}
.equalizer {
  display: flex;
  margin: 24px auto;
}
.section {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 8px;
}
.section .sliders {
  display: flex;
}
.range-slider {
  width: 40px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
}
.range-slider .param {
  color: #f7f7f7;
  font-size: 14px;
  line-height: 14px;
}
.range-slider .band {
  color: #f7f7f7;
  font-size: 12px;
  line-height: 12px;
}
.range-slider .band-range {
  margin-top: 35px;
}
.range-slider input[type=range].vertical {
  transform: rotateZ(-90deg);
  width: 110px;
  margin-top: 44px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000;
  background: #d8d8d8;
  border-radius: 3px;
  border: 0px solid #000;
}
input[type=range].vertical.default::-webkit-slider-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #f8ffae;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range].vertical.min::-webkit-slider-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #44bfa3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range].vertical.max::-webkit-slider-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #ff3232;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.62);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
